<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="teroicon.png" rel="icon" type="image/png" />
  <title>TERO | Login</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="form">
    <form action="/submit-data" method="POST">
      <img src="teroicon.png" alt="Italian Trulli">   
      <input type="text" name="name" placeholder="Enter Name" />                   
      <input type="email" name="email" placeholder="Enter Email" />
      <input type="number" name="phone" placeholder="Enter Phone Number" maxlength="10" />
      <input type="password" name="Password" placeholder="Enter Password" />
      <input type="password" name="ConfirmPassword" placeholder="Confirm Password" />
      <button>Sign up</button>
      <a href="/login">Already have an account? Click here to log-in</a>
    </form>
  </div>
</body>
</html>

